TABLE {
  border: 1px solid black; /* Рамка вокруг таблицы */
  border-collapse: collapse; /* Отображать только одинарные линии*/  
  margin: auto; /* Выравниваем таблицу по центру окна */
}
TH { /* Заголовочные ячейки таблицы */
  text-align: center; /* Выравнивание по центру */
  padding: 5px; /* Поля вокруг содержимого ячеек */
  border: 1px solid black; /* Граница вокруг ячеек */
}
TD { /* Основные ячейки таблицы */
  padding: 5px; /* Поля вокруг содержимого ячеек */
  border: 1px solid black; /* Граница вокруг ячеек */
}
